.booking-modal-container {
    .booking-modal-content {

        height: 500px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
        overflow-x: hidden;

        .booking-modal-headel {
            // padding: 10px;
            border-bottom: 1px solid #a18f8f;

            .left {
                font-size: 15px;
                font-weight: 600;
                color: #333;
            }

            .right {
                float: right;
                cursor: pointer;
            }
        }

        .booking-modal-body {
            height: 100%;
            padding: 10px;
        }

        .booking-modal-footer {

            border-top: 1px solid #ccc;
            padding: 10px;
            display: flex;
            justify-content: flex-end;
            gap: 15px;

            button {
                border: none;
                outline: none;
                padding: 5px 8px;
                border-radius: 3px;
            }

            .btn-booking-confirm {
                background-color: orange;
            }

            .btn-booking-cancel {
                background-color: grey;

            }
        }
    }
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    border-top: 6px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}