.doctor-detail-conteiner {

    background-color: rgba(201, 186, 186, 0.404);



    .into-doctor {
        display: flex;

        background-color: aliceblue;

        .content-left {
            width: 20%;
            background: center center no-repeat;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            // margin: 10px 20px;
            margin: 20px 50px;
        }

        .content-right {
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            margin: 20px 10px;

            .up {
                font-size: 20px;
                font-weight: 600;
                padding-top: 15px;
            }

            .down {
                padding-top: 10px;
                padding-top: 15px;
            }
        }
    }

    .schedule-doctor {}

    .detail-infor-doctor {

        padding: 50px;
    }

    .comment-doctor {}
}