.doctor-extra-infor-container {
    padding-left: 15px;

    .container-up {
        margin-bottom: 10px;
        border-bottom: 0.2px solid #4a36bd;

        .text-address {
            text-transform: uppercase;
            color: #333;
            font-weight: 500;
            font-size: 17px;
        }

        .name-clinic {
            padding: 5px 0;
            font-weight: 600;
            color: #333;
        }

        .detail-address {
            font-weight: 600;
            color: #333;
        }
    }

    .container-down {
        .price {
            font-weight: 500;
            font-size: 15px;

            .more-infor {
                color: #4a36bd;
                font-style: italic;
                cursor: pointer;
            }
        }

        .cost-detail {
            color: #333;
            padding-bottom: 5px;
            font-size: 15px;
        }

        .price-detail {
            color: #333;
            padding-bottom: 5px;
            font-size: 15px;
        }

        .payment-detail {
            color: #333;
            padding-bottom: 5px;
            font-size: 15px;
        }

        .hide-info {
            color: #4a36bd;
            font-style: italic;
            cursor: pointer;
        }
    }
}