   .profile-doctor-container {
       .into-doctor {
           display: flex;

           background-color: aliceblue;

           .content-left {
               background-size: cover;
               background-repeat: no-repeat;
               background-position: center;
               width: 80px;
               height: 80px;
               border-radius: 50%;
               // margin: 10px 20px;
           }

           .content-right {
               width: calc(100%-80px);
               display: flex;
               flex-direction: column;
               padding-left: 0px;
               //    margin: 5px 10px;

               .up {
                   font-size: 20px;
                   font-weight: 600;
               }

               .down {
                   text-align: justify;
               }
           }
       }
   }