.section-specialty {
    height: 300px;
    background-color: #b56f6f26;


    .specialty-container {
        margin: 0px 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .specialty-header {
            display: flex;
            justify-content: space-between;

            p {
                font-size: 25px;
                font-weight: 600;
            }

            button {
                width: 80px;
                height: 40px;
                border: none;
                background-color: rgb(153, 153, 153);
                color: rgb(56, 45, 45);
            }

            button:active {
                transform: scale(0.95);
                /* thu nhỏ nhẹ khi nhấn */
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
                /* giảm bóng */

            }

            button:hover {
                background-color: aqua;
            }
        }

        .specialty-body {
            .img-customize {
                img {
                    height: 150px;
                    width: 278px;
                }
            }

            .slick-prev {
                background-color: rgb(146, 136, 136) !important;
                // position: absolute !important;
                left: -10px !important;
                z-index: 2 !important;
                height: 44px !important;
                width: 48px !important;
                border: 2px solid #d7d7d7 !important;

                &:hover {
                    background: #d7d7d7 !important;
                }
            }

            .slick-next {
                background-color: rgb(146, 136, 136) !important;
                right: -10px !important;
                height: 44px !important;
                width: 48px !important;

                &:hover {
                    background: #d7d7d7 !important;
                }
            }
        }
    }


}

.section-facility {
    background-color: #ffffff;
}

.section-about {
    border: 1px solid red;
    height: 450px;
    padding: 10px;

    background-color: #b56f6f26;


    .section-about-hearder {
        font-size: 27px;
        font-weight: 600;
        padding-bottom: 20px;
    }

    .section-about-body {
        display: flex;
        gap: 20px;

        .section-about-body-right {
            font-size: 17px;
            color: #0a340a;

            .author {
                text-align: right;
                margin-right: 70px;
                font-size: 20px;
                font-weight: 600;
                color: black;
            }
        }
    }
}